:root {
  --section-color: #333;
}

.teaser {
  max-width: 400px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: solid 3px;
  border-bottom-color: var(--section-color);
}

.teaser h1 {
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  background: var(--section-color);
}

.teaser p {
  padding: 0 10px;
}

.teaser a {
  font-weight: bold;
  color: var(--section-color);
}

.teaser.deals {
  --section-color: #ff5300;
}

.teaser.events {
  --section-color: #0065c3;
}

.teaser.experts {
  --section-color: #00b9f2;
}

.teaser.topics {
  --section-color: #5d4ab7;
}

.teaser.essentials {
  --section-color: #61bb00;
}

.teaser.teams {
  --section-color: #bed600;
}

#debug {
  content: "(.teaser.deals: --section-color #ff5300, .teaser.events: --section-color #0065c3, .teaser.experts: --section-color #00b9f2, .teaser.topics: --section-color #5d4ab7, .teaser.essentials: --section-color #61bb00, .teaser.teams: --section-color #bed600)";
}
